.DS_Store
__pycache__/
*.pyc
*.egg-info/
.superpowers/
uv.lock
XDP-eBPF-Anti-DDoS-Firewall/
website/*
!website/src/
website/src/*
!website/src/general-usage.mov
!website/src/exclude-ports.mov
docs/
*.log
*.o
